// Override this file to add your own SCSS styling.
.article-container {max-width: 1100px;}

pre, code {
    font-family: monospace;
    color: inherit;
    background-color: #f8f8f8;
}

#toc ul { 
  list-style-type: none; 
}

#toc ul ul { 
  list-style-type: disc; 
}